<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <meta charset="utf-8">
        <meta property="og:image" content="" />
        <link rel= "shortcut icon" type="image/png" href="https://unpkg.com/leaflet@1.2.0/dist/images/marker-icon-2x.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <title>Thanks</title>
    </head>

    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow mb-5">
        <a class="navbar-brand align-bottom">
          <img src="https://unpkg.com/leaflet@1.2.0/dist/images/marker-icon-2x.png" width="20px" height="auto" alt="Shroomies">
          <h4 class="d-inline align-bottom">Map that</h4>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle na
          vigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end font-weight-light" id="navbarSupportedContent">
          <ul class="navbar-nav pt-2 pt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/#">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/extract">Upload</a>
            </li>
          </ul>
        </div>
      </nav>

    <main class="mt-5 pt-3">
        <h3 class = "text-center pt-5">Thank you for using our service</h3>
    </main>
</body>
